@inherits System.Web.Mvc.WebViewPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
    <body>
        <label>Name</label>
        <input/>
        <label>Book</label>
        <input/>
        <label>Page</label>
        <input/>
        <button>Add</button>
    </body>
</html>